*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.game-title {
    text-align: center;
    margin-bottom: 1em;
}

.game-scoreboard {
    align-items: center;
    display: flex;
    height: 5em;
    justify-content: center;
}

.user-score {
    margin-right: 3em;
}

.game-display {
    align-content: center;
    display: flex;
    height: 25em;
    justify-content: center;
    width: auto;
    margin-bottom: 4em;
}

.game-selection {
    display: grid;
    grid-template-columns: repeat(3, 10em);
    grid-auto-rows: 5em;
    gap: 2em;
}


.game-button {
    align-content: center;
    background-color: #131313;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    user-select: none;
}

.game-button:hover{
    transition: all 0.6s ease;
    transform: scale(1.35);
    transform-origin: center;
}

.alert-container {
    align-items: center;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    transform: translateX(35%);
}

.alert {
    align-items: center;
    color: white;
    display: flex;
    height: 15em;
    pointer-events: none;
    justify-content: center;
    width: 20em;
}

.play-again {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: .25em;
    display: flex;
    height: 1.5em;
    justify-content: center;
    width: 5em;
    margin-top: 5em;
    text-align: center;
    user-select: none;
}

.hide {
    display: none;
}

.user-side {
    align-items: center;
    display: flex;
    margin-right: 3em;
    justify-content: center;
}

.computer-side {
    align-items: center;
    display: flex;
    margin-left: 3em;
    justify-content: center;
}

.user-rock, .user-paper, .user-scissors {
    font-size: 10em;
}

.computer-rock, .computer-paper, .computer-scissors {
    font-size: 10em;
}

